.h1 {
    font-size: 35px;
    background-color: aquamarine;
    text-align: center;
    padding: 20px;
    margin: auto;
    border: 5px solid #d2a2ff; 
    height: auto;
    width: 200px;
    
}

.point {
    font-size: 25px;
    color:darkgoldenrod;
}

.point, 
.h1 {
    font-family: 'Papyrus', 'Copperplate'; 
} 

.back {
    font-size: 20px;
    font-family: sans-serif;
}